.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgPrimary);
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--borderColor);
  padding: 1.3rem;
  margin-bottom: 2.5rem;
}
.nav-group {
  min-width: 15rem;
  display: flex;
  justify-content: space-evenly;
}
.nav-brand {
  font-weight: bold;
  font-size: 1.3rem;
}
.nav-link {
  text-decoration: none;
  color: inherit;
}
.nav-link:hover {
  color: var(--primaryEmerald);
}

@media screen and (max-width: 767px) {
  .navbar {
    font-size: small;
  }
}
